.card.matches{
    margin-top: 15px;
    border-radius: 15px;
}

.btn-grad.card {
    background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%);
    color: black;
    align-items: center;
    pointer-events: none;
    
}

.btn-grad.card:hover{
    color: inherit;
}

 h4{
    text-align: right;
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1rem;
    background-color: black;
    background: linear-gradient(to bottom, #669999 0%, #666699 100%);
    border-radius: 10%;
    padding: 3px;
 }
